body {
  background-color: rgb(255, 255, 255);
}

#fantastat-datatable {
  margin-right: 5%;
}

#fantastat-list-howmanydays .rc-slider-dot {
  border-color: gray;
  background-color: pink;
  border: 1px solid;
}
#fantastat-list-howmanydays .rc-slider-dot-active {
  border-color: black;
  background-color: rgba(206, 23, 31);
  border: 2px solid;
}
#fantastat-list-howmanydays .rc-slider-handle {
  border-color: black;
  background-color: rgba(206, 23, 31);
  border: 3px solid;
}
#fantastat-list-howmanydays .rc-slider-track {
  background-color: black;
}

#_dash-global-error-container {
  padding: 10px
}

.fantastat-options {
  display: flex;
  flex-wrap: wrap;
}

.dash-header > div {
  display: inline-block !important;
  white-space: wrap !important;
}

.column-header--hide, .column-header--sort {
  padding-left: 3px;
  padding-right: 3px;
}

.columns-actions, .column-header-name {
  width: 50% !important;
}

